<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="./elastic-query-service/logs"/>
    <property name="APP_NAME" value="elastic-query-service"/>

    <include resource="logback-common.xml"/>

    <logger name="org.springframework.security" level="info" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>